[submodule "subprojects/kurva"]
	path = subprojects/kurva
	url = https://github.com/chkc0x0/kurva
[submodule "subprojects/yoga"]
	path = subprojects/yoga
	url = https://github.com/react/yoga
[submodule "subprojects/glfw"]
	path = subprojects/glfw
	url = https://github.com/glfw/glfw
