[submodule "subprojects/nanovg"]
	path = subprojects/nanovg
	url = https://github.com/memononen/nanovg
[submodule "subprojects/yoga"]
	path = subprojects/yoga
	url = https://github.com/react/yoga
[submodule "subprojects/glfw"]
	path = subprojects/glfw
	url = https://github.com/glfw/glfw
